body {
  margin: 0;
  Padding: 0;
  font-family: verdana, sans-serif, Georgia;
  font-size: 0.95rem;
  width: 100%;
}

.patternControlsPanel {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: 12rem;
  height: 12rem;
}
